<html lang="en">
  <head>
    <title>Orders to Fill</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js" defer></script>
    <style>
      .when {
        text-align: center;
      }
      .chef {
        background-color: #8b84da
      }
    </style>
  </head>
  <body class="chef">
    <h1>Orders to Fill</h1>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        {% for order in orders %}
        <div class="order mdc-layout-grid__cell--span-12">
          <div class="mdc-card">
            <h2 class="when mdc-typography mdc-typography--headline6">{{ order.date.ToDatetime().strftime("%H:%M:%S") }}</h2>
            {% for item in order.items %}
            <ul class="item">
              <li class="name mdc-list-item mdc-typography">{{ item.name.capitalize() }}</li>
            </ul>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>