<html lang="en">
  <!-- From https://developers.google.com/identity/sign-in/web/ -->
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{clientid}}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/orders.js" async defer></script>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js" defer></script>
    <style>
      .order-item {
        margin: 16px;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();

        fetchOrders(googleUser)
        
        console.log("ID Token: " + id_token);
        console.log("ID: " + profile.getId())
      }
      window.onload = e => {
        fakeUser = {getAuthResponse: function() {return {id_token: 'foo'}}}
        fetchOrders(fakeUser)
      }
    </script>
    <div id="orders" class=""></div>
  </body>
</html>